<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lovejoy777.rroandlayersmanager">

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_ALL_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Manager">
        <activity
            android:name=".menu"
            android:noHistory="true"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ColorMain"
            android:icon="@mipmap/ic_launcher"
            android:label="color picker"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager.COLORPICKER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".managers.CardManager"
            android:icon="@mipmap/ic_launcher"
            android:label="Install"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager.CARDMANAGER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".managers.GridManager"
            android:icon="@mipmap/ic_launcher"
            android:label="Install"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager.GRIDMANAGER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BackUpRestore"
            android:icon="@mipmap/ic_launcher"
            android:noHistory="true"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager.BACKUPRESTOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".backups.CardBackupRestore"
            android:icon="@mipmap/ic_launcher"
            android:label="Backups"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager.CARDBACKUPRESTORE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".backups.GridBackupRestore"
            android:icon="@mipmap/ic_launcher"
            android:label="Backups"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager.GRIDBACKUPRETORE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeleteLayers"
            android:icon="@mipmap/ic_launcher"
            android:noHistory="true"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager.DELETELAYERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".deleters.CardDeleteLayers"
            android:icon="@mipmap/ic_launcher"
            android:label="Delete"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager.CARDDELETELAYERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".deleters.GridDeleteLayers"
            android:icon="@mipmap/ic_launcher"
            android:label="Delete"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager.GRIDDELETELAYERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:icon="@mipmap/ic_launcher"
            android:label="Manager"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GridViewActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Previews"
            android:largeHeap="true"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager.GRIDVIEWACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullScreenViewActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Preview"
            android:parentActivityName=".GridViewActivity"
            android:theme="@style/LayersTheme">
            >
        </activity>
        <activity
            android:name=".DeletePreview"
            android:icon="@mipmap/ic_launcher"
            android:label="Preview"
            android:parentActivityName=".GridViewActivity"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager.DELETEPREVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Instructions"
            android:icon="@mipmap/ic_launcher"
            android:label="Instructions"
            android:parentActivityName=".managers.CardManager"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="android.intent.action.INSTRUCTIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:icon="@mipmap/ic_launcher"
            android:label="About"
            android:parentActivityName=".managers.CardManager"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="android.intent.action.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangeLog"
            android:icon="@mipmap/ic_launcher"
            android:label="ChangeLog"
            android:parentActivityName=".managers.CardManager"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="android.intent.action.CHANGELOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstallAll"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="android.intent.action.INSTALLALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlaystoreSuperUser"
            android:icon="@mipmap/ic_launcher"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager.PLAYSU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>

